body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #eeeeee;
    padding: 0px;
    margin: 0px;
}

header{
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
    height: 50px;
    border-bottom: #000000 solid 2px;
    background-color: #ffffff;
}

h1 {
    margin: 0px;
}


h4 {
    margin: 0px;
}

#bestdeals {
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px 10px;
}

.container {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 25px;
    margin: 25px;
}

.phoneimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.info {
    margin: 2px;   
}

#feedback {
    width: 400px; 
    height: 200px; 
}

footer {
    text-align: center;  
    width: 100%;
    margin-top: 100px;
    height: 50px;
    border-top: #000000 solid 2px;
    background-color: #ffffff;
}

button {
    margin: 20px;
}

.amazonlink {
    text-transform: uppercase;
}

.newphoneimg {
    visibility: hidden;
}